
@{
     Layout = "_Layout";
     var data = ViewBag.Message;
}

<h2> @foreach (var datas in data){
        <h2>Route @datas.Name </h2>
        <span> Route Name: @datas.Name</span>
        <span> <br> Distance: @datas.Distance</span>
        <span> <br> Route Photo: <br> <img src="@datas.Photo" class="img img-fluid" alt="My image" />  <br> </span>
        <br> <br>
    }
</h2>