@page

   @{
    Layout = "_Layout";
   }


<head>
    <title>Welcome to the developer page</title>
</head>

<body>
    <div class="mainContainer">
        <h1>Welcome Administrator! What would you like to do?</h1>
        <h2>Would you like to create a new route?</h2>
        <a href="http://127.0.0.1:8887/voorbeeld.html">Click here to make a new Route</a>
        <h2>Would you like to see all the current routes?</h2>
        <a href="http://localhost:5234/Route/SeeRoutes">Click here to see all the routes</a>
    </div>
</body>