@page
@model JuliRennen.Pages.Account.LoginModel
   @{
    Layout = "_Layout";
   }




<head>
    <title>Welkom naar de gebruiker page</title>
</head>


<body>
    <div class="mainContainer">
        <h1>Welcome User! What would you like to do?</h1>
        <h2>Would you like to create a new route?</h2>
        <a href="https://nice-sea-088835f03.1.azurestaticapps.net/gps/voorbeeld.html">Click here to make a new Route</a>
        <h2>Would you like to see all the current routes?</h2>
        <a href="http://localhost:5234/Route/SeeRoutes">Click here to see all the routes</a>
    </div>
</body>