@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Juli Rennen</h1>
    <p>Welkom bij de nieuwe jij!!!</p>
    <img src="~/images/rennenfelix543.jpg" class="img img-fluid" alt="My image" />
</div>
