@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Juli Rennen</h1>
    <p>Welkom  bij de nieuwe jij!</p>
    <img src="~/images/rennenfelix543.jpg" class="img img-fluid" alt="My image" />
    <br />
    <a class="btn btn-primary btn-lg"  asp-page="/Account/Login">Log in</a>
    <br />
    <h5><a class="text-info" asp-area="" asp-page="/Users/Create">of maak een account aan!</a></h5>
</div>
